body {
   padding: 0;
   margin: 0 ;
   background-color: #F9FAFE;
   font-family: 'Poppins', sans-serif;
}

/* ------------- Navbar Start ------------- */
.navbar {
   background-color: #B7292D;
}

.skansika {
   display: flex;
   justify-content: space-between;
   width: 140px;
}

.name-skansika {
   margin-top: 13px;
   color: white;
   font-weight: 700;
}

.navbar-nav {
   display: flex;
   justify-content: space-evenly;
   width: 70%;
   color: white;
}
.navbar-brand {
   border: 2px solid ;
}
.logo {
   width: 50px;
}

/* ------------- Navbar End ------------- */


/* ------------- Banner Prodi Start ------------- */

.banner-prodi {
   position: relative;
}
.img-prodi {
   height: 700px;
   width: 100%;
   object-fit: cover;
}

.linear-gradient {
   background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
   width: 100%;
   height: 100%;
   opacity: 0.8;
   position: absolute;
}

.prodi-title {
   position: absolute;
   left: 17%;
   top: 25%;
   color: white;
   max-width: 500px;
}

.prodi-title h3 {
   font-weight: 700;
   text-decoration: underline solid white 5px;
}

.prodi-title p {
   font-size: 60px;
   font-weight: 700;
}

/* ------------- Banner Prodi End ------------- */


/* ------------- Sejarah Start ------------- */

.section-sejarah {
   min-height: 370px;
}

.judul-logo{
   margin-left: 50px;
   font-weight: 700;
}

.text-justify {
   text-align: justify;
}

/* ------------- Sejarah End ------------- */


/* ------------- Dasar Ketrampilan Start ------------- */

.judul-logo-satu{
   font-weight: 700;
}
.judul-logo-dua {
   font-weight: 700;
   text-align: center;
}



#image{
   max-width: 100%;
}

.ui-card{
   height: 250px;
   background: radial-gradient(#111 50%, #000 100%);
   overflow: hidden;
   position: relative;
   border-radius: 20px;
}

.ui-card #image{
   transform: scale(1);
   transition: all 0.3s ease-out;
   filter: brightness(75%);
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.ui-card:hover #image{
   transform: scale(1.6) translateY(-20px);
   opacity: 0.3;
}

.desc{
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 15px;
   text-align: center;
   color: white;
   font-size: 18px;
}

.desc h5{
   transition: all 0.3s ease-out 0.2s;
}

.desc p{
   font-size: 1rem;
   transform: translateY(50px);
   opacity: 0;
   transition: all 0.3s ease-out 0.4s;
}

.ui-card:hover .desc h5{
   opacity: 1;
   transform: translateY(-40px);
}

.ui-card:hover .desc p{
   opacity: 1;
   transform: translateY(-30px);
}

/* ------------- Dasar Ketrampilan End ------------- */


/* ------------- Galery Kegiatan Start ------------- */

.card-img-top {
   height: 200px;
   width: 100%;
   object-fit: cover;
}

.owl-prev {
   left: -50px;
}

.owl-next {
   right: -50px;
}

.owl-prev, .owl-next{
   position: absolute;
   top: 50px;
}

.owl-prev span, .owl-next span{
   font-size: 60px;
   color: black;
}

.owl-theme, .owl-nav[class*="owl-"]:hover {
   background: none;
}

.owl-prev span:hover, .owl-next span:hover{
   background: none;
}

/*  ------------- Galery Kegiatan End -------------  */


a {
   color: inherit;
   text-decoration: none;
 }
 
a:hover { color: #ffc400; } /* CSS link hover (yellow) */

/* footer full of width */
footer
{
   position: absolute;
   left: 0;
   right: 0;
   width: 100%;
}